body {
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  color: white;
  letter-spacing: 0.05rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10vh auto;
  background-image: url('/images/1.jpg');
  background-size: cover;
  transition: background-image 1.5s ease-in-out;


}

.quote-box {
    width: 50%;
    background-color: #204056;
    height: 360px;
    padding: 20px;
    box-shadow: 3px 4px 15px 3px #204056ab;
    margin-top: 150px;
}

.quote-title p {
  margin: auto;
  margin-bottom: 2.5rem;
  color: #CCCCCC;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-size: 24px;
  font-family: Oxygen;
}

.js-quote {
    height: 175px;
    padding-top: 30px;
}

.js-quote p:nth-child(1) {
    text-align: center;
    font-style: italic;
    font-family: Oxygen;
    font-weight: bold;
    line-height: 30px;

}

.hidden {
  display: none;
}

.js-quote p:nth-child(1):before {
    content: " ' ";
}

.js-quote p:nth-child(1):after {
    content: " ' ";
}

.js-quote p:nth-child(2) {
    text-align: right;
    margin-top: 30px;
}

button#getQuote {
    box-shadow: 2px 2px 15px 1px #000000c4;
    transition: box-shadow 0.5s;
}

button#getQuote:hover {
    box-shadow: 0px 0px 0px 0px #0000;
}

.generate-button {
  background-color: #34B3A0;
  outline: none;
  padding: 1rem 1.5rem;
  display: inline-block;
  margin: auto;
  font-size: 1rem;
  margin-top: 40px;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  color: white;
}

.col-2 {
    width: 50%;
    float: left;
}

img.twitter_post {
    height: 60px;
    float: right;
    margin-top: 40px;
    transition: margin-top 0.5s;
}

img.twitter_post:hover {
    margin-top: 30px;
    cursor: pointer;
}
